<div class="row">
    <div class="col mt-3">
        <h2>Valor: {{contador}} </h2>

        <div class="button-container mt-3">
            <button class="btn btn-primary m-1" (click)="incrementar()"> + </button>
            <button class="btn btn-primary m-1" (click)="decrementar()"> - </button>
        </div>

        <div class="options-container mt-3">
            <button class="btn btn-primary m-2" (click)="iniciar()"> start </button>
            <button class="btn btn-primary m-2" (click)="parar()"> stop </button>
            <button class="btn btn-primary m-2" (click)="refresh()"> refresh </button>
        </div>

        <div class="step-container mt-3">
            <input [(ngModel)]="valor" id="pasos" class="form form-control" type="number">
        </div>


    </div>