<div class="row text-center">
    <div class="col m-3 text-center">
        message: {{msgInput}}
        <div class="row">
            <div class="col-3 list-group-item m-1" (click)="mensajeServicioHijo()">
                Use Service
            </div>
            <div class="col-3 list-group-item m-1" (click)="mensajeOutput()">
                Use Output Property
            </div>
            <div class="col-3 list-group-item m-1" (click)="observableHijo()">
                Use Observable
            </div>
        </div>
    </div>
</div>