<div class="animate__animated animate__bounce">
    <h2>Por Capital</h2>

    <hr>
    <div class="row">

        <div class="col">
            <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar Capital" (onDebounce)="sugerencias($event)">

            </app-pais-input>
        </div>
    </div>
    <hr>
    <div class="alert alert-danger" *ngIf="hayError">
        No se encontró nada con el termino: {{termino | titlecase}}
    </div>

    <div class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>

</div>